%h1 Bucket List

%ul
  - @destinations.each do |destination|
    = render partial: "destinations/destination", locals: { destination: destination }

.new-destination
  = form_for @destination do |f|
    - Destination.columns.map(&:name).each do |col|
      - unless ["id", "created_at", "updated_at"].include? col
        %fieldset
          = f.label col, t("activerecord.attributes.destination.#{col}")
          = f.text_field col
    %fieldset
      = f.submit "Add Destination", id: "add-destination-button"
