!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %title
      BucketList
  %body
    = yield 
    %script{ async: "true", defer: "true", src: "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api_key}&libraries=geometry&callback=initMap" }
